--- 
--- 
@import 'normalize';
$white: #fff;
$neutral-lightest: #efefef;
$neutral-light: #ccc;
$neutral-medium: #666;
$neutral-dark: #231f20;
$black: #000;
$primary-color: #d6702b;
$primary-color-dark: darken($primary-color, 25%);
$secondary-color1: #4C385E;
$secondary-color1-dark: darken($secondary-color1, 25%);
$secondary-color2: #5D93A0;
$secondary-color2-dark: darken($secondary-color2, 25%);
$secondary-color3: #E0B848;
$box-shadow: 0.5rem 0.5rem $neutral-dark;

/*---------Animations-----------*/

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-15px);
    }
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-20px);
    }
    60% {
        -moz-transform: translateY(-15px);
    }
}

@-o-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -o-transform: translateY(0);
    }
    40% {
        -o-transform: translateY(-20px);
    }
    60% {
        -o-transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    40%,
    55%,
    70%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@keyframes bouncePin {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateY(30px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes grow {
    0% {
        -webkit-transform: scale( 0);
        -moz-transform: scale( 0);
        -o-transform: scale( 0);
        -ms-transform: scale( 0);
        transform: scale( 0);
    }
    70% {
        -webkit-transform: scale( 1.2);
        -moz-transform: scale( 1.2);
        -o-transform: scale( 1.2);
        -ms-transform: scale( 1.2);
        transform: scale( 1.2);
    }
    100% {
        -webkit-transform: scale( 1);
        -moz-transform: scale( 1);
        -o-transform: scale( 1);
        -ms-transform: scale( 1);
        transform: scale( 1);
    }
}

@keyframes width {
    0% {
        left: -250%;
        opacity: 0;
    }
    85% {
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes pin {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(1deg);
    }
}


/*-----------End Animations----------------*/

body {
    background: $neutral-lightest;
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 3rem;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Poppins', 'Helvetica', sans-serif;
}

h3 {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: 'Poppins', 'Helvetica', sans-serif;
    font-weight: 700;
}

p {
    font-size: 1.6rem;
    line-height: 2.2;
    font-family: 'Poppins', 'Helvetica', sans-serif;
    margin-top: 2rem;
}

header {
    background-image: url('../images/song/vintage_overlay.png');
    background-size: 9.8rem;
    padding: 1.5rem;
    position: relative;
    text-align: center;
    a {
        width: 45px;
        height: 45px;
        display: inline-block;
        margin-top: 89%;
        margin-bottom: 1.5rem;
        background: $primary-color;
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        padding: 0.9rem 1.3rem 0.5rem;
        box-shadow: 0.23rem 0.13rem $neutral-dark;
        animation: bounce 4s infinite;
        -webkit-animation: bounce 4s infinite;
        -moz-animation: bounce 4s infinite;
        -o-animation: bounce 4s infinite;
        i {
            display: block;
        }
        .fa {
            font-size: 3.2rem;
        }
        @media (min-width: 721px) {
            margin-top: 53rem;
        }
        &:hover,
        &:active,
        &:focus {
            color: $white;
        }
    }
}

.record {
    position: relative;
    img {
        width: 100%;
        max-width: 60rem;
        position: absolute;
        left: 0;
        @media (min-width: 721px) {
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }
}

#record-rotate {
    -ms-transform-origin: 42.75% 49.75%;
    /* IE 9 */
    -webkit-transform-origin: 42.75% 49.75%;
    /* Chrome, Safari, Opera */
    transform-origin: 42.75% 49.75%;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

#pin-animate {
    -webkit-animation: pin 1s ease-in-out infinite;
    -moz-animation: pin 1s ease-in-out infinite;
    animation: pin 1s ease-in-out infinite;
    transform-origin: 66% 12%;
}

.about-wrapper {
    background: $white;
    padding: 5rem 0;
}

.about {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
}

.overview-wrapper {
    background: $primary-color;
    position: relative;
    .overview {
        margin: 0 auto;
        max-width: 100rem;
        padding: 5rem 0 7rem 0;
        text-align: center;
        position: relative;
        overflow: hidden;
    }
    img {
        width: 18rem;
        @media (min-width: 585px) {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .overview-label {
        background: $neutral-lightest;
        padding: 1.3rem 1rem 1rem 1rem;
        width: 50%;
        position: relative;
        top: 1.5rem;
        box-shadow: $box-shadow;
        margin: 0 auto 10rem auto;
        box-sizing: border-box;
        &.left {
            left: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: 585px) {
            position: static;
            display: inline-block;
            vertical-align: middle;
            width: 50%;
            margin-left: -5px;
        }
        @media (min-width: 768px) {
            margin-top: 2rem;
            width: 100%;
            margin-left: -5px;
        }
        @media (min-width: 900px) {
            margin: 2rem auto 0 auto;
            width: 80%;
        }
    }
}

.genre-wrapper {
    padding: 8rem 0;
    background: $white;
    overflow: hidden;
    .genre-text {
        width: 90%;
        max-width: 60rem;
        margin: 0 auto;
    }
}

.genre-height {
    min-height: 247px;
}

.genre-charts {
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    .row {
        &:first-child {
            margin-top: 8rem;
            @media (min-width: 768px) {
                margin-bottom: 8rem;
            }
        }
    }
    h3 {
        margin-top: 2rem;
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 7rem;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }
    img {
        width: 30%;
        position: absolute;
        z-index: 0;
    }
    .chart {
        position: relative;
    }
    .pop-img {
        text-align: left;
        margin-bottom: 6rem;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
        img {
            top: 33%;
            left: 35%;
        }
        h3 {
            margin-bottom: 1rem;
            text-align: center;
        }
        .legend {
            margin-top: 1rem;
            display: inline-block;
            vertical-align: middle;
            height: 2rem;
            width: 25%;
            &.light {
                background: $primary-color;
            }
            &.dark {
                background: $primary-color-dark;
            }
        }
        p {
            display: inline-block;
            vertical-align: middle;
            width: 74%;
            padding-left: 1.5rem;
            box-sizing: border-box;
            margin: 1rem 0 0 0;
        }
    }
    .rock-img {
        text-align: left;
        margin-bottom: 6rem;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
        img {
            top: 23%;
            left: 35%;
        }
        h3 {
            margin-bottom: 1rem;
            text-align: center;
        }
        .legend {
            margin-top: 1rem;
            display: inline-block;
            vertical-align: middle;
            height: 2rem;
            width: 25%;
            &.light {
                background: $neutral-medium;
            }
            &.dark {
                background: $neutral-dark;
            }
        }
        p {
            display: inline-block;
            vertical-align: middle;
            width: 74%;
            padding-left: 1.5rem;
            box-sizing: border-box;
            margin: 1rem 0 0 0;
        }
    }
    .urban-img {
        text-align: left;
        margin-bottom: 6rem;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
        img {
            top: 22%;
            left: 35%;
        }
        h3 {
            margin-bottom: 1rem;
            text-align: center;
        }
        .legend {
            margin-top: 1rem;
            display: inline-block;
            vertical-align: middle;
            height: 2rem;
            width: 25%;
            &.light {
                background: $secondary-color2;
            }
            &.dark {
                background: $secondary-color2-dark;
            }
        }
        p {
            display: inline-block;
            vertical-align: middle;
            width: 74%;
            padding-left: 1.5rem;
            box-sizing: border-box;
            margin: 1rem 0 0 0;
        }
    }
    .dance-img {
        text-align: left;
        margin-bottom: 6rem;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
        img {
            top: 21%;
            left: 35%;
        }
        h3 {
            margin-bottom: 1rem;
            text-align: center;
        }
        .legend {
            margin-top: 1rem;
            display: inline-block;
            vertical-align: middle;
            height: 2rem;
            width: 25%;
            &.light {
                background: $secondary-color1;
            }
            &.dark {
                background: $secondary-color1-dark;
            }
        }
        p {
            display: inline-block;
            vertical-align: middle;
            width: 74%;
            padding-left: 1.5rem;
            box-sizing: border-box;
            margin: 1rem 0 0 0;
        }
    }
    .other-img {
        text-align: left;
        img {
            top: 15%;
            left: 34%;
        }
        h3 {
            margin-bottom: 1rem;
            text-align: center;
        }
        .legend {
            margin-top: 1rem;
            display: inline-block;
            vertical-align: middle;
            height: 2rem;
            width: 25%;
            &.primary {
                background: $primary-color;
            }
            &.dark {
                background: $neutral-dark;
            }
            &.secondary1 {
                background: $secondary-color1;
            }
            &.secondary2 {
                background: $secondary-color2;
            }
            &.secondary3 {
                background: $secondary-color3;
            }
        }
        p {
            display: inline-block;
            vertical-align: middle;
            width: 74%;
            padding-left: 1.5rem;
            box-sizing: border-box;
            margin: 1rem 0 0 0;
        }
    }
    iframe {
        z-index: 0;
    }
}

.artist-wrapper {
    background-color: $neutral-dark;
    padding: 5rem;
    overflow: hidden;
    img {
        width: 100%;
    }
    h1 {
        color: $neutral-lightest;
        font-weight: 700;
        font-size: 1.25rem;
        text-transform: uppercase;
    }
    .title {
        font-size: 3rem;
    }
    .map-wrapper {
        position: relative;
        max-width: 105rem;
        margin: 0 auto;
        .flag {
            width: 5rem;
            position: absolute;
            transform: translateY(-2000px);
            &:nth-child(2) {
                top: 20%;
                left: 14%;
            }
            &:nth-child(3) {
                top: 9%;
                left: 39%;
            }
            &:nth-child(4) {
                top: 11%;
                left: 43.5%;
            }
            &:nth-child(5) {
                top: 31%;
                left: 7%;
            }
            &:nth-child(6) {
                top: 12%;
                left: 13%;
            }
            &:nth-child(7) {
                top: 17%;
                left: 41%;
                z-index: 1;
            }
            &:nth-child(8) {
                top: 69%;
                left: 86%;
            }
            &:nth-child(9) {
                top: 13%;
                left: 41%;
                z-index: 0;
            }
            &:nth-child(10) {
                top: 17%;
                left: 45%;
            }
        }
    }
    .map-info {
        max-width: 60rem;
        margin: 4rem auto 0 auto;
        p {
            border-bottom: 1px solid $neutral-medium;
            padding: 0.5rem 0;
            color: $neutral-lightest;
            margin: 0;
            span {
                float: right;
            }
            @media (min-width: 768px) {
                padding: 1.5rem 3rem;
                &:first-child {
                    border-top: 1px solid $neutral-medium;
                }
            }
        }
        .border-main {
            border-top: 1px solid $neutral-medium;
        }
        @media (min-width: 768) {
            .border {
                border-top: 1px solid $neutral-medium;
            }
        }
        &:last-child {
            margin-top: 0;
            @media (min-width: 768) {
                margin-top: 4rem;
            }
        }
    }
    .row {
        @media (min-width: 992) {
            padding-top: 8rem;
        }
        h1 {
            font-size: 1.6rem;
            padding-top: 8rem;
            padding-bottom: 2rem;
            @media (min-width: 992) {
                padding-top: 0;
            }
        }
        .full-header {
            padding-left: 1.5rem;
        }
    }
}

.cd-timeline-content {
    h2 {
        font-size: 1.6rem;
    }
}

.release-wrapper {
    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
        width: 90%;
        max-width: 1170px;
        margin: 0 auto;
        padding: 8rem 2rem 2rem 6rem;
        text-align: center;
    }
    > p {
        max-width: 60rem;
        margin: 0 auto;
    }
}

.bpm-wrapper {
    background: $primary-color;
    padding: 5rem 0;
    text-align: center;
    img {
        max-width: 18rem;
        width: 35%;
    }
    h1 {
        color: $white;
        max-width: 60rem;
        margin: 0 auto;
        @media (min-width: 992px) {
            margin-top: 6rem;
        }
    }
    p {
        color: $white;
        text-align: left;
        max-width: 60rem;
        margin: 1rem auto 0 auto;
    }
    .label-wrapper {
        width: 50%;
        margin: 2rem auto 0 auto;
        position: relative;
        @media (min-width: 585px) {
            position: static;
            display: inline-block;
            vertical-align: middle;
            margin-left: -5px;
            margin-top: 0;
        }
    }
    .overview-label {
        background: $neutral-lightest;
        padding: 1.3rem 1rem 1rem 1rem;
        display: block;
        top: 0;
        position: relative;
        left: -250%;
        box-shadow: $box-shadow;
        box-sizing: border-box;
        transform-origin: 0 50%;
        &:last-child {
            margin-bottom: 0;
        }
    }
    #low-bpm,
    #avg-bpm,
    #high-bpm {
        -webkit-transform: scale( 0);
        -moz-transform: scale( 0);
        -o-transform: scale( 0);
        -ms-transform: scale( 0);
        transform: scale( 0);
    }
}

.bpm-ind {
    margin-top: 6rem;
    @media (min-width: 768px) {
        margin-bottom: 2rem;
        margin-top: 0;
    }
}

.word-wrapper {
    background: $neutral-dark;
    padding: 5rem 7rem;
    h1,
    p {
        max-width: 60rem;
        margin: 0 auto;
        color: $neutral-lightest;
    }
    p {
        margin-bottom: 4rem;
    }
    a {
        color: $primary-color;
    }
    img {
        max-width: 100rem;
        margin: 0 auto;
        display: block;
        width: 100%;
    }
}

.summary-wrapper {
    padding: 7rem 5rem;
}

.summary {
    max-width: 60rem;
    margin: 0 auto;
}

.playlist-wrapper {
    padding: 7rem 5rem;
    background: $neutral-dark;
    color: $neutral-lightest;
    a {
        color: $primary-color;
    }
    p {
        margin-bottom: 2rem;
    }
    iframe {
        width: 80%;
        min-width: 280px;
    }
}

.playlist-max {
    max-width: 100rem;
    margin: 0 auto;
}

.btn-reveal {
    width: 100%;
    border-radius: 0;
    padding: 1.5rem;
    background: $primary-color;
    font-family: 'Poppins', 'Helvetica', sans-serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $neutral-dark;
    ;
    margin-top: 3rem;
    margin-bottom: 3rem;
    &:hover,
    &:focus,
    &:active {
        color: $neutral-dark;
    }
    &:hover {
        background: darken($primary-color, 3%);
    }
}

#songReveal a {
    color: $primary-color;
}

.resources h1 {
    margin-top: 4rem;
    @media (min-width: 768px) {
        margin-top: 0;
    }
}

.song-info p {
    @media (min-width: 768px) {
        margin-top: 0;
    }
}

.song-explain {
    max-width: 60rem;
    margin: 0 auto;
}

footer {
    text-align: center;
}

.artist-inner {
    max-width: 100rem;
    margin: 0 auto;
    & > p {
        padding-bottom: 8rem;
        color: $neutral-light;
        max-width: 60rem;
    }
}
