<nav>
    <div class="nav-text-wrapper">
        <a href="/index.html"><img src="/images/logo.svg" alt="Abby Larner Compass Logo"></a>
        <div class="logo-text">
            <p>Abby Larner</p>
            <p>UI Designer/Front End Developer</p>
        </div>
    </div>
    <a href="#" class="toggle-icon-wrapper">
        {% include icons/toggle-icon.html %}
    </a>
    <div class="toggle-wrapper">
        <ul>
            <li>
                <a href="/index.html" id="home-icon">
                    {% include icons/home-icon.html %}
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/adventures" id="adventures-icon">
                    {% include icons/adventures-icon.html %}
                    <span>Adventures</span>
                </a>
            </li>
            <li>
                <a href="/about" id="about-icon">
                 {% include icons/about-icon.html %}
                 <span>About</span>
                </a>
            </li>
            <li>
                <a href="/field-notes" id="notes-icon">
                    {% include icons/notes-icon.html %}
                    <span>Field Notes</span>
                </a>
            </li>
        </ul>
        <div class="scale-wrapper">
            <div class="row scale-box-wrapper">
                <div>
                </div>
                <div>
                </div>
                <div>
                </div>
                <div>
                </div>
                <div>
                </div>
                <div>
                </div>
            </div>
            <div class="row social-icons">
                <a href="http://github.com/abbylarner?tab=repositories" target="_blank">
                    <div class="icon-wrapper">
                        {% include icons/github.html %}
                    </div>
                </a>
                <a href="http://twitter.com/abbylarner" target="_blank">
                    <div class="icon-wrapper">
                        {% include icons/twitter.html %}
                    </div>
                </a>
                <a href="http://codepen.io/abbylarner/" target="_blank">
                    <div class="icon-wrapper">
                        {% include icons/codepen.html %}
                    </div>
                </a>
                <a href="http://medium.com/@abbylarner" target="_blank">
                    <div class="icon-wrapper">
                        {% include icons/medium.html %}
                    </div>
                </a>
                <a href="http://dribbble.com/abbylarner" target="_blank">
                    <div class="icon-wrapper">
                        {% include icons/dribbble.html %}
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/abby-larner-941aaa44?trk=hp-identity-name" target="_blank">
                    <div class="icon-wrapper">
                        {% include icons/linkedin.html %}
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>
