<nav>
    <img src="/images/logo.svg" alt="Abby Larner Compass Logo">
    <div class="logo-text">
        <p>Abby Larner</p>
        <p>UI Designer/Front End Developer</p>
    </div>
    <ul>
        <li>
            <a href="#" id="home-icon">
            	{% include icons/home-icon.html %}
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="#" id="adventures-icon">
                {% include icons/adventures-icon.html %}
                <span>Adventures</span>
            </a>
        </li>
        <li>
            <a href="#" id="about-icon">
             {% include icons/about-icon.html %}
             <span>About</span>
            </a>
        </li>
        <li>
            <a href="#" id="notes-icon">
                {% include icons/notes-icon.html %}
                <span>Field Notes</span>
            </a>
        </li>
    </ul>

   <div class="scale-wrapper">
	   	<div class="row">
		   	<div>
		   	</div>
		   	<div>
		   	</div>
		   	<div>
		   	</div>
		   	<div>
		   	</div>
		   	<div>
		   	</div>
		   	<div>
		   	</div>
	   	</div>
	   	<div class="row">
		   	<div>
		   	</div>
		   	<div>
		   	</div>
		   	<div>
		   	</div>
		   	<div>
		   	</div>
		   	<div>
		   	</div>
		   	<div>
		   	</div>
	   	</div>
   </div>
</nav>
