$white: #fff;
$off-white: #fffaf5;

$primary-font: #011627;
$primary-color: #011627;
$primary-color-med: rgba(1,22,39,.75);
$primary-color-light: rgba(1,22,39,.2);
$primary-color-xlight: rgba(1,22,39,.05);


$secondary-color: #2ec4b6;

$sup-color-light: #ff9f1c;
$sup-color-med: #e71d36;
$sup-color-dark: #603d84;


$github: #333333;
$twitter: #55ACEE;
$codepen: #212121;
$medium: #00AB6C;
$dribbble: #EA4C89;
$linkedin: #0077B5;
