@media (min-width: 1199px) {
    .row-wrapper {

        .row-icon {
            margin-top: 2.75em;
        }

        .feature-image {
            margin-top: 0;
        }
    }

    .inner-wrapper {
        max-width: 1200px;
        margin: 0 auto;

    }

}
