@media (min-width: 768px) {

    nav {
        float: left;
        margin-left: 3%;
        a {
            &:hover,
            &:focus,
            &:active {
                color: $secondary-color;
            }
        }
        #home-icon {
            &:first-child:hover .nav-icon,
            &:first-child:focus .nav-icon,
            &:first-child:active .nav-icon {
                animation: 1s ease-in-out spin;
                animation-fill-mode: forwards;
                .st0,
                .st1 {
                    stroke: $secondary-color;
                }
                .st1 {
                    fill: $secondary-color;
                }
            }
        }
        #adventures-icon {
            &:first-child:hover .nav-icon,
            &:first-child:focus .nav-icon,
            &:first-child:active .nav-icon {
                #outer-st,
                #inner-st {
                    transform-origin: center bottom;
                    animation-name: flicker;
                    animation-duration: 3ms;
                    animation-timing-function: ease-in;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }
                .st0,
                .st1 {
                    stroke: $secondary-color;
                }
                .st2 {
                    fill: $secondary-color;
                }
            }
        }
        #about-icon {
            &:first-child:hover .nav-icon,
            &:first-child:focus .nav-icon,
            &:first-child:active .nav-icon {
                animation: 1s ease-in-out grow;
                animation-fill-mode: forwards;
                .st0 {
                    stroke: $secondary-color;
                }
            }
        }
        #notes-icon {
            svg {
                overflow: visible;
            }
            &:first-child:hover .nav-icon,
            &:first-child:focus .nav-icon,
            &:first-child:active .nav-icon {
                .st0,
                .st1,
                .st2,
                .st3 {
                    stroke: $secondary-color;
                }
                .st1 {
                    fill: $secondary-color;
                }
                .pencil {
                    animation: 1s ease-in-out translate-fb;
                    -webkit-animation-fill-mode: forwards;
                    /* Chrome, Safari, Opera */
                    animation-fill-mode: forwards;
                }
            }
        }
    }

.sub-nav-wrapper {
        position: absolute;
        width: 52%;
            max-width: 800px;

}

}
