@media (min-width: 901px) {
    nav {
        float: left;
        margin-left: 3%;
        width: 35%;
        a {
            &:hover,
            &:focus,
            &:active {
                color: $secondary-color;
            }
        }
        #home-icon {
            &:first-child:hover .nav-icon,
            &:first-child:focus .nav-icon,
            &:first-child:active .nav-icon {
                animation: 1s ease-in-out spin;
                animation-fill-mode: forwards;
                .st0,
                .st1 {
                    stroke: $secondary-color;
                }
                .st1 {
                    fill: $secondary-color;
                }
            }
        }
        #adventures-icon {
            &:first-child:hover .nav-icon,
            &:first-child:focus .nav-icon,
            &:first-child:active .nav-icon {
                #outer-st,
                #inner-st {
                    transform-origin: center bottom;
                    animation-name: flicker;
                    animation-duration: 3ms;
                    animation-timing-function: ease-in;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }
                .st0,
                .st1 {
                    stroke: $secondary-color;
                }
                .st2 {
                    fill: $secondary-color;
                }
            }
        }
        #about-icon {
            &:first-child:hover .nav-icon,
            &:first-child:focus .nav-icon,
            &:first-child:active .nav-icon {
                animation: 1s ease-in-out grow;
                animation-fill-mode: forwards;
                .st0 {
                    stroke: $secondary-color;
                }
            }
        }
        #notes-icon {
            svg {
                overflow: visible;
            }
            &:first-child:hover .nav-icon,
            &:first-child:focus .nav-icon,
            &:first-child:active .nav-icon {
                .st0,
                .st1,
                .st2,
                .st3 {
                    stroke: $secondary-color;
                }
                .st1 {
                    fill: $secondary-color;
                }
                .pencil {
                    animation: 1s ease-in-out translate-fb;
                    -webkit-animation-fill-mode: forwards;
                    /* Chrome, Safari, Opera */
                    animation-fill-mode: forwards;
                }
            }
        }
    }
    .toggle-wrapper {
        display: block;
    }
    #container {
        width: 62%;
        float: left;
        padding: 0;
        margin-top: 0;
        h1 {
            margin: 0 0 1em 0;
        }
    }
    .sub-nav-wrapper {
        margin-bottom: 2em;
    }
    .slide-icon {
        width: 4em;
        opacity: .5;
        &:hover {
            opacity: 1;
        }
    }
    .active-home-icon {
        opacity: 1;
    }
    .inner-container {
        padding: 1em 2em;
        box-sizing: border-box;
    }
    .slide-wrapper {
        .all-page-wrapper {
            .page {
                img {
                    width: 35%;
                }
                &:last-child {
                    width: 33%;
                }
            }
            .project {
                .project-text {
                    width: 55%
                }
                &.fn-project {
                    .project-text {
                        width: 90%;
                    }
                }
            }
        }
    }
    .internal-wrapper {
        float: left;
        width: 56%;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .scale-wrapper {
        .social-icons {
            a {
                padding: 0 .75em .15em .75em;
                
                .icon-wrapper {
                    min-width: 1em;
                    width: 100%;
                    max-width: 1.5em;
                }
                &:hover {
                    #dribbble-icon {
                        @include socialHover($dribbble)
                    }
                    #github-icon {
                        @include socialHover($github)
                    }
                    #codepen-icon {
                        @include socialHover($codepen)
                    }
                    #linkedin-icon {
                        @include socialHover($linkedin)
                    }
                    #twitter-icon {
                        @include socialHover($twitter)
                    }
                    #medium-icon {
                        @include socialHover($medium)
                    }
                }
            }
        }
    }

    .pic-wrapper {
    width: 40%;
    float: left;

}

.form-wrapper {
    width: 90%;
}

.about-text {
    width: 90%;
    margin: 0 auto;
}


}
