.adventures-icon {
    .st0 {
        fill: none;
        stroke: #011627;
        stroke-width: 1.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
}

.about-icon {
    .st0 {
        fill: none;
        stroke: #011627;
        stroke-width: 1.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
}

.notes-icon {
    .st0 {
        fill: none;
        stroke: #011627;
        stroke-width: 1.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
    .st1 {
        fill: #011627;
    }
    .st2 {
        fill: none;
        stroke: #011627;
        stroke-width: 1.5;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
    .st3 {
        fill: none;
        stroke: #011627;
        stroke-width: 1.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 4.707392e-02, 2.8244;
    }
}

.home-icon {
    .st0 {
        fill: none;
        stroke: #011627;
        stroke-width: 1.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
    .st1 {
        fill: #011627;
        stroke: #011627;
        stroke-width: 1.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
}
